<link href= 'stylesheets/error.css' rel='stylesheet' type='text/css'>
<div class="error">
  <div class="wrapper">
    <section class="thirds">
      <div class="third">
        <h4 class="error-heading">Lost at Sea?</h4>
      </div>

      <div class="third"><img class="boat" src="images/boat.png"></div>

      <div class="third">
        <a href="/">
        <h4 class="error-caption">Sail home</h4></a>
      </div>
    </section>
  </div>
</div>