<div class="wrapper">
    <h1 class="headings-h1">Saltwater</h1>
    <p class="intro-paragraph">Welcome sailors, dreamers, and lovers of the sea: </p>
    <div>
      <div>
        <div>
          <div>
            <div class="slice">
              <div class="article-main">
                <img class="wide" src="images/diy.png">
                <div class="article-main-content">
                  <p class="article-main-tag">Achievement Patches<br></p>
                  <h1 class="article-main-h1">Smooth Sailing With DIY<br></h1>
                  <p class="article-main-first-p">DIY is the best place to level up your skills, meet friends, find an audience, and just be awesome.<br></p>
                  <p class="article-main-p"></p>
                </div>
              </div>
              <div class="article-side">
                <div class="article-side-article">
                  <p class="article-side-cat">PHOTOGRAPHY</p><img class="wide" src="images/barcelonaboats.jpg">
                  <p class="article-side-date">Posted by <a href src="http://archive.sailingscuttlebutt.com/photos/03/1013barcolona/">Scuttlebutt</a><span class="article-side-date">April 1, 2014</span></p>
                  <h4 class="article-side-h4">Nullam id dolor id nibh ultricies</h4>
                </div>
                <div class="article-side-article">
                  <p class="article-side-cat">POETRY</p><img class="wide" src="images/joy.jpg">
                  <p class="article-side-date">Posted by Pablo Neruda <span class="article-side-date"> April 1, 2014</span></p>
                  <h4 class="article-side-h4">Here I came to the very edge where nothing at all needs saying, everything is absorbed through weather and the sea, and the moon swam back, its rays all silvered, and time and again the darkness would be broken by the crash of a wave, and every day on the balcony of the sea, wings open, fire is born, and everything is blue again like morning.</h4>
                </div>
              </div>
            </div>
            <div class="slice">
              <div class="extended-caption">
                <div class="extended-caption-figure"><img class="extended-caption-img" src="http://typecast.com/js/src/images/placeholders/1x1.png"></div>
                <div class="extended-caption-content">
                  <p class="extended-caption-tag">Alert</p>
                  <h2 class="extended-caption-h2">Dolor Ligula</h2>
                  <p class="extended-caption-p">Curabitur blandit tempus porttitor maecenas faucibus moldiam.</p>
                  <p><a class="extended-caption-ghost-button" href="javascript:void(0)">Explore</a></p>
                </div>
              </div>
              <div class="quote-c">
                <p class="blockquote-quote-c-p">"Do you know a cure for me?" "Why yes," he said, "I know a cure for everything. Salt water." "Salt water?" I asked him. "Yes," he said, "in one way or the other. Sweat, or tears, or the salt sea."</p>
                <p class="quote-c-cite">— KAREN VON BLIXEN-FINECKE</p>
              </div>
            </div>
            <div class="three-col-gallery">
            <h1 class="intro-h1">About Frictional Electricity</h1>
            <p class="intro-p">There are dozens of simple, fascinating experiments that may be performed with this kind of electricity.</p>
            <p>The sea is never still. It pounds on the shore restless as a young heart, hunting. The sea speaks and only the stormy hearts know what it says: It is the face of a rough mother speaking. The sea is young. One storm cleans all the hoar And loosens the age of it. I hear it laughing, reckless. They love the sea, men who ride on it and know they will die under the salt of it let only the young come, says the sea. Let them kiss my face and hear me. I am the last word and I tell where storms and stars come from.<p>
            <img class="three-col-img" src="images/ocean1.png"> <img class="three-col-img" src="images/ocean2.png"> <img class="three-col-img" src="images/ocean3.png"> <img class="three-col-img" src="images/ocean4.png"> <img class="three-col-img" src="images/ocean5.png"> <img class="three-col-img" src="images/ocean6.png"><img class="three-col-img" src="images/ocean7.png"> <img class="three-col-img" src="images/ocean8.png"> <img class="three-col-img" src="images/ocean9.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>