<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport">
    <link href= 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Crimson+Text:400,600' rel='stylesheet' type='text/css'>
    <link href= 'stylesheets/reset.css' rel='stylesheet' type='text/css'>
</head>

<body>
    {{{body}}}
</body>
</html>