<link href='stylesheets/home.css' rel='stylesheet' type='text/css'>
<div class="wrapper">

  <h1 class="headings-h1">Saltwater</h1>

  <p class="intro-paragraph">The sea is calling, and I must go.</p>
  <div>
    <div>
      <div>
        <div>
          <div class="slice">
            <div class="article-main">
              <img class="wide" src="images/diy.png">

              <div class="article-main-content">
                <p class="article-main-tag">Achievement Patches<br></p>

                <h1 class="article-main-h1">Smooth Sailing With DIY<br></h1>

                <p class="article-main-first-p">DIY is the best place to level up your skills, meet friends, find an audience, and just be awesome.<br></p>

                <p class="article-main-p">At DIY, you can have a blast learning and creating while making new friends. Think of all the new adventures you could have with the whole world of awesome makers in your network! Sailing in your future? Get your sea legs by completing the sailing challenges. Need to dock your boat to explore a deserted island? Get twisted with the knotter challenges. Sailing uncharted waters? Learn to navigate by the stars with the astronomy challenges. Red skies at morn, sailors forewarn? Learn to read the sky with the meteorologist challenges. Want to wear a cool hat like Zissou? Get aquainted with dolphins, tides, and mollusks with the oceanographer challenges. Along the way, you'll gain an appreciation for the power and beauty of this blue planet, and learn how you can protect it. Plus, you'll earn some sweet swag too!</p>

                <p><br>
                <a class="extended-caption-ghost-button" href="/challenges">Explore DIY</a></p>
              </div>
            </div>

            <div class="article-side">
              <div class="article-side-article">
                <p class="article-side-cat">POETRY</p><a href=""><img class="wide" src="images/jumpin.jpg"></a>

                <p class="article-side-date">Posted by Pablo Neruda <span class="article-side-date">January 25, 2015</span></p>

                <h4 class="article-side-h4">Here I came to the very edge where nothing at all needs saying, everything is absorbed through weather and the sea, and the moon swam back, its rays all silvered, and time and again the darkness would be broken by the crash of a wave, and every day on the balcony of the sea, wings open, fire is born, and everything is blue again like morning.</h4>
              </div>

              <div class="article-side-article">
                <p class="article-side-cat">PHOTOGRAPHY</p><a href=""><img class="wide" src="images/barcelonaboats.jpg"></a>

                <p class="article-side-date">Posted by Scuttlebutt <span class="article-side-date">January 26, 2015</span></p>

                <h4 class="article-side-h4">Sailboats race in the Barcelona 35.</h4>
              </div>
            </div>
          </div>

          <div class="slice">
            <div class="extended-caption">
              <div class="extended-caption-figure"><img class="extended-caption-img" src="images/flags.jpg"></div>

              <div class="extended-caption-content">
                <p class="extended-caption-tag">Nautical Flags</p>

                <h2 class="extended-caption-h2">A Secret Code</h2>

                <p class="extended-caption-p">Did you know that there is a nautical flag for ever letter in the alphabet? You can waive them to send messages to boats nearby.</p>

                <p><a class="extended-caption-ghost-button" href="http://en.wikipedia.org/wiki/International_maritime_signal_flags">Learn More</a></p>
              </div>
            </div>

            <div class="quote-a">
              <p class="blockquote-quote-a-p">"Do you know a cure for me?" "Why yes," he said, "I know a cure for everything. Salt water." "Salt water?" I asked him. "Yes," he said, "in one way or the other. Sweat, or tears, or the salt sea."</p>

              <p class="quote-a-cite">— KAREN VON BLIXEN-FINECKE</p>
            </div>
          </div>

          <div class="three-col-gallery">
            <h1 class="intro-h1">Waves, Tides, and Currents</h1>

            <p class="intro-p">Waves give rhythm to the ocean. They transport energy over vast distances and sculpt haystacks and dramatic seacliffs.</p>

            <p>The sea is never still. It pounds on the shore restless as a young heart, hunting. The sea speaks and only the stormy hearts know what it says: It is the face of a rough mother speaking. The sea is young. One storm cleans all the hoar And loosens the age of it. I hear it laughing, reckless. They love the sea, men who ride on it and know they will die under the salt of it let only the young come, says the sea. Let them kiss my face and hear me. I am the last word and I tell where storms and stars come from. —Carl Sandburg</p>

            <p><img class="three-col-img" src="images/ocean1.png"> <img class="three-col-img" src="images/ocean2.png"> <img class="three-col-img" src="images/ocean3.png"> <img class="three-col-img" src="images/ocean4.png"> <img class="three-col-img" src="images/ocean5.png"> <img class="three-col-img" src="images/ocean6.png"><img class="three-col-img" src="images/ocean7.png"> <img class="three-col-img" src="images/ocean8.png"> <img class="three-col-img" src="images/ocean9.png"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>