.seafoam {
	background-color: rgb(175,220,202);
}
.surf {
	background-color: rgb(143,208,182);
}
.sand {
	background-color: rgb(254,227,158);
}
.seaglass {
	background-color: rgb(109,196,162);
}
.shell {
	background-color: rgb(254,211,90);
}
.sunshine {
	background-color: rgb(254,198,13);
}
.clouds {
	background-color: rgb(255,153,204);
}
.sunset {
	background-color: rgb(255,153,102);
}

