.abalone {
	background-color: #F5F5F1;
}

.seafoam {
  background-color: #afdcca;
}

.surf {
  background-color: #8fd0b6;
}

.sand {
  background-color: #fee39e;
}

.seaglass {
  background-color: #6dc4a2;
}

.shell {
  background-color: #fed35a;
}

.sunshine {
  background-color: #fec60d;
}

.clouds {
  background-color: #f9c;
}

.sunset {
  background-color: #f96;
}

