body {
  padding: 0;
  font-size: 16px;
  line-height: 25.875px;
}

div.wrapper {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6.25em 0
}

section.thirds: before {
  content: "";
  display: table
}

section.thirds: after {
  content: "";
  display: table;
  clear: both
}

section.thirds {
  margin: 0 auto;
  text-align: center;
  width: auto;
  height: 614.66665649414px
}

div.third {
  float: left;
  width: 33.33%;
  position:  relative;
  text-align: center;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.error {
  font-family: "Crimson Text";
  font-size: 2em;
  width: 100%;
  float: left;
  background: -webkit-linear-gradient(90deg,#4CB8C4 10%,#3CD3AD 90%);
/* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg,#4CB8C4 10%,#3CD3AD 90%);
/* FF3.6+ */
  background: -ms-linear-gradient(90deg,#4CB8C4 10%,#3CD3AD 90%);
/* IE10 */
  background: -o-linear-gradient(90deg,#4CB8C4 10%,#3CD3AD 90%);
/* Opera 11.10+ */
  background: linear-gradient(90deg,#4CB8C4 10%,#3CD3AD 90%)
/* W3C */
}

.error-heading {
  float: left;
  color: #fff
}

.boat {
  max-width: 50%;
  width: 250px;
  -webkit-animation:  rock-boat 3s ease-in-out infinite;
  max-height: 10%;
  z-index: 3;
}

@-webkit-keyframes rock-boat {
  50%  { -webkit-transform:  rotate(-5deg) translateY(-10px); }
}

.error-caption {
  float: right;
  color: #fff
}

.error-caption: hover {
  color: #ff1643
}

@media screen and (max-width:  480px) {
  div.third {
    width:  100%;
    margin-bottom: 1em;
  }