body {
  padding: 0;
  font-size: 16px;
  line-height: 25.875px;
  font-family: 'Source Sans Pro';
  color: rgba(68,68,68,1)
}

div.wrapper {
  width: 70%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6.25em 0
}

div.slice:before {
  content: " ";
  display: table
}

div.slice:after {
  content: " ";
  display: table;
  clear: both
}

div.headings {
  background-color: rgba(244,244,244,1);
  padding: 5em;
  margin: 0 0 6.25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  float: left;
  width: 65.625%;
  margin-right: 3.125%;
  height: 219.8334px
}

div.article-main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(221,221,221,1);
  background-color: rgba(109,196,162,1);
  margin: 0 0 7.25em;
  float: left;
  width: 65.625%;
  margin-right: 3.125%
}

div.article-side {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 31.25%;
  text-align: left;
  margin-bottom: 6.25em
}

div.infoblock {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 6.25em;
  width: 65.625%;
  margin-right: 3.125%;
  float: left;
  background: #fee39e
}

div.quote-a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 6.25em;
  background: #afdcca;
  padding: 2.5em;
  width: 31.25%;
  float: left;
  text-align: center
}

h1.headings-h1 {
  font-size: 7.31em;
  line-height: 112.5%;
  margin: 0 0 .313em;
  font-family: "Crimson Text";
  float: left;
  font-weight: 400;
  font-style: normal;
  clear: both
}

p.article-main-tag {
  font-size: 1em;
  line-height: 2;
  margin: 0 0 1em;
  text-transform: uppercase;
  letter-spacing: .313em;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  color: rgba(255,255,255,1)
}

div.article-main-content {
  padding: 2.5em;
  text-align: left;
  color: rgba(255,255,255,1)
}

img.wide {
  max-width: 100%;
  width: 100%;
  float: none
}

h1.article-main-h1 {
  font-size: 3em;
  line-height: 115.4%;
  margin: 0 0 .615em;
  font-family: "Crimson Text";
  font-weight: 400;
  font-style: normal
}

p.article-main-first-p {
  color: rgba(255,255,255,1);
  font-size: 1.5em;
  line-height: 143%;
  margin: 0 0 1.14em;
  padding: 0 0 1.14em;
  border-bottom: 1px solid #ddd;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal
}

div.slice {
  clear: both;
  margin: 0;
}

p.article-main-p {
  font-size: 1.25em;
  line-height: 160%;
  margin: 0;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal
}

div.article-side-article {
  margin: 0 0 2.5em;
  border-top: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

p.article-side-cat {
  font-size: .88em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(136,136,136,1);
  line-height: 187.5%;
  margin: 1.071em 0;
  font-family: "Crimson Text";
  font-weight: 400;
  font-style: normal
}

p.article-side-date {
  font-size: .88em;
  line-height: 187.5%;
  color: rgba(136,136,136,1);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1.071em 0
}

span.article-side-date {
  color: rgba(143,198,187,1);
  font-family: "Crimson Text";
  font-weight: 400;
  font-style: normal
}

h4.article-side-h4 {
  margin: 0;
  font-size: 1.13em;
  line-height: 166.7%;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal
}

img {
  max-width: 100%;
  width: 449px
}

a: hover {
  color: #444
}

a {
  color: #8FC6BB;
  text-decoration: none
}

p.blockquote-quote-a-p {
  margin: 0 0 .83em;
  color: rgba(68,68,68,.85);
  font-family: "Crimson Text";
  font-weight: 600;
  font-style: normal;
  font-size: 18.67px
}

p.quote-a-cite {
  color: rgba(68,68,68,.65);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .88em;
  line-height: 187.5%;
  margin: 0;
  font-family: "Crimson Text";
  font-weight: 400;
  font-style: normal
}

div.infoblock-figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%
}

div.infoblock-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 2.5em;
  text-align: center
}

img.infoblock-img {
  display: block;
}

p.infoblock-tag {
  font-size: 1em;
  line-height: 2;
  margin: 0 0 1em;
  text-transform: uppercase;
  letter-spacing: .313em;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: normal
}

h2.infoblock-h2 {
  font-size: 2.75em;
  line-height: 1.227;
  font-family: "Crimson Text";
  font-weight: 400;
  font-style: normal
}

p.infoblock-p {
  font-size: 1.25em;
  font-family: "Crimson Text";
  font-weight: 400;
  font-style: normal;
  margin: 1em;
}

a.infoblock-button {
  color: rgba(255,255,255,1);
  background-color: rgba(255,153,204,1);
  font-size: .75em;
  line-height: 3.571;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  max-width: 180px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: normal
}

a.infoblock-button:hover {
  background-color: rgba(255,163,210,1)
}

div.infoblock:before {
  content: " ";
  display: table
}

div.infoblock:after {
  content: " ";
  display: table;
  clear: both
}

p.intro-paragraph {
  text-align: center;
  font-size: 1.5em;
  line-height: 20px;
  padding: 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 3em;
  width: 100%;
  float: left;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal
}

div.three-col-gallery:before {
  content: "";
  display: table
}

div.three-col-gallery:after {
  content: "";
  display: table;
  clear: both
}

div.three-col-gallery {
  width: auto;
  text-align: left;
  margin: 0 auto
}

img.three-col-img {
  width: 30%;
  float: left;
  margin: 1.666%
}

h1.intro-h1 {
  text-align: center;
  font-size: 3em;
  line-height: 1.2em;
  font-family: "Crimson Text";
  font-weight: 400;
  font-style: normal
}

p.intro-p {
  text-align: center;
  font-size: 1.5em;
  margin: .5em;
  font-family: "Crimson Text";
  font-weight: 400;
  font-style: normal
}

p.intro-p-content {
  margin: 1.5em;
}

@media screen and (max-width:  980px) {
div.article-side {
  float: none;
  width: 100%;
  margin: 0 0 2em
}

div.article-main {
  float: none;
  width: 100%;
  margin: 0 0 100px
}

div.quote-a {
  float: none;
  width: 100%;
  padding: 36px 2.571em 36px 2.5em
}

div.article-side-article {
  width: 50%;
  float: left;
  margin: 0 0 40px;
  padding: 0 1.5em
}

div.article-side:before {
  content: " ";
  display: table
}

div.article-side:after {
  content: " ";
  display: table;
  clear: both
}

body {
  font-size: 90%
}

h2.infoblock-h2 {
  font-size: 2.5em
}

div.wrapper {
  width: 100%;
  padding: 6.25em 2em
}
}

@media screen and (max-width:  480px) {
div.headings {
  padding: 2em;
  margin: 0 0 4em
}

div.article-main-content {
  padding: 1.25em
}

body {
  font-size: 80%
}

div.article-side-article {
  width: 100%;
  float: none;
  padding: 0
}

h1.headings-h1 {
  font-size: 2.25em
}

h1.intro-h1 {
 margin-top: 1em;
}

h1.article-main-h1 {
  font-size: 2.25em;
  text-align: center;
}

p.article-main-first-p {
  font-size: 1.25em;
  text-align: center;
}

p.article-main-tag {
  text-align: center;
}

p.article-main-p {
  text-align: center;
}

h2.infoblock-h2 {
  font-size: 2em
}

div.infoblock-figure {
  float: none;
  width: 100%;
}

div.infoblock-content {
  float: none;
  width: 100%;
}

div.article-main {
  margin: 0 0 4em
}

div.article-side {
  margin: 0 0 1em
}

div.infoblock {
  margin: 0 auto;
  width: 100%;
}

img.infoblock-img {
  margin: 0 auto;
  width: 100%;
}

div.quote-a {
  display: none
}

div.wrapper {
  padding: 4em 2.057em
}
}