body {
  padding: 0;
  font-size: 16px;
  line-height: 25.875px;
  font-family: 'Source Sans Pro';
  color: rgba(68,68,68,1)
}

div.wrapper {
  width: 70%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6.25em 0
}

a:hover {
  color: #6dc4a2
}

p {
  margin-bottom: 25px
}

p.intro-paragraph {
  text-align: center;
  font-size: 1.5em;
  line-height: 20px;
  padding: 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 3em;
  width: 100%;
  float: left;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal
}

h1.headings-h1 {
  font-size: 7.31em;
  line-height: 112.5%;
  margin: 0 0 .313em;
  font-family: "Crimson Text";
  float: left;
  font-weight: 400;
  font-style: normal;
  color:  rgba(68,68,68,1);
  clear: both
}

nav {
  margin: 0 auto;
  text-align: center;
  width: auto;
  float: left
}

nav.menu-nav-hz {
  margin: 0 auto;
  width: 100%;
}

nav.menu-nav-hz:after {
  clear: both
}

ul.menu-hz {
  margin: 0 auto;
  list-style: none;
  text-align: center;
  display: table;
  width: 100%;
}

li.menu-hz-li {
  margin: auto;
  font-size: 16px;
  display: table-cell;
}

div.col-2:before {
  content: " ";
  display: table
}

div.col-2:after {
  content: " ";
  display: table;
  clear: both
}

span.category-note {
  display: block;
  color: #CECBB6;
  padding: 0 0 .714em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .875em;
  line-height: 1.857;
  margin: 0;
  background: #fff
}

img {
  max-width: 100%
}

h3.skill-heading-large {
  font-size: 1.875em;
  line-height: 1.2;
  margin: 1.3333333333333em 32px .5em;
  float: left;
  clear: both
}

p.skill-desc {
  margin: 0 32px .833em;
  float: left;
  clear: both
}

div.col2-skill-element-1 {
  background: #F5F5F1;
  text-decoration: none;
  border-bottom: 2px solid #DDDBCC;
  margin-bottom: 2.5em;
  padding: 0;
  width: 48.4375%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 3.125%;
  float: left;
  height: 230px
}

div.col2-skill-element-2 {
  background: #F5F5F1;
  text-decoration: none;
  border-bottom: 2px solid #DDDBCC;
  margin-bottom: 2.5em;
  padding: 0;
  width: 48.4375%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 230px
}

section.col2-skill-elements {
  height: 575px;
  clear: both;
  margin-top: 5em
}

h3.skill-heading {
  font-size: 1.5em;
  line-height: 1.25;
  margin: 1.667em 32px .625em
}

img.skill-image {
  display: block;
  float: left;
  margin-left: 27%;
  margin-top: 3em;
  margin-bottom: 1em
}

a {
  color: #8fd0b6;
  text-decoration: none;
  font-family: source-code-pro;
  font-weight: 400;
  font-style: normal
}

@media screen and (max-width:  768px) {
div.col2-skill-element-1 {
  width: 100%;
  float: none
}

div.col2-skill-element-2 {
  width: 100%;
  float: none
}

body {
  font-size: 90%
}
}

@media screen and (max-width:  480px) {
div.col2-skill-element-1 {
  width: 100%;
  float: none
}

div.col2-skill-element-2 {
  width: 100%;
  float: none
}

body {
  font-size: 80%
}

p.tagline {
  font-size: 1.75em
}
}